.Header{
    display: flex;
    position: relative;
    background-color: gray;
    height : 192px; //logo size

    .menu{
        display: flex;
        padding: 5%;
        color: white; // 일반 CSS 에선 .SassComponent .box 와 마찬가지
        cursor: pointer;
        transition: all 0.3s ease-in;

        &:hover{
            background: black;
        }
    }
}